body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F5F5F5;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
}

#app {
    position: relative;
    width: 375px;
    height: 667px;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    background: white;
    padding: 20px;
    box-sizing: border-box;
}

.interface {
    align-items: center;
    position: absolute;
    width: 100%;
    max-height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
}

#interface-0 {
    left: 0%;
}

#interface-1 {
    left: 0;
}

#interface-2 {
    left: 100%;
}

.title {
    text-align: center;
    margin-bottom: 26px;
    font-size: 30px;
    font-weight: bold;
}

.description {
    margin-top: 0px; /* adjust as needed */
    margin-bottom: 10px; /* adjust as needed */
    text-align: left;
}

#priority-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.2s;
    background: #f1f1f1;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.task-details {
    display: flex;
    flex-direction: column;
}

.task-details .task-name {
    font-size: 18px;
    font-weight: 500;
}

.task-details .task-description {
    font-size: 14px;
    color: #777;
}

.task-box:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
}

.priority {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #2ECC71;
    color: white;
}

.strikethrough {
    text-decoration: line-through;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    background: #f1f1f1;
    box-sizing: border-box;
}
.task-title {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.task-value {
    margin: 5px 0 10px;
    color: #777;
}
.mark-complete {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2ECC71;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.bottom-button {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2ECC71;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
    font-weight: bold;
    box-sizing: border-box;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
